.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  color: black;
  padding: 16px;
  text-align: center;
}
.headingBig {
  font-size: 32px;
}
.emphasis {
  color: green;
}
.heading {
  font-size: 28px;
}

.mainText {
  max-width: 700px;
  text-align: center;
}
.mainBtn {
  font-size: 20px;
  text-decoration: none;
  border: solid 2px;
  border-radius: 4px;
  padding: 8px;
}
.regularBtn {
  font-size: 18px;
  text-decoration: none;
  border: solid 2px;
  border-radius: 4px;
  padding: 5px;
}
.regularBtn:hover {
  cursor: pointer;
  color: green;
}
.regularBtn:active {
  color: green;
  transform: scale(1.1);
}

.btnList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;

  width: 225px;
}
.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cardsList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
}
