.navbar {
  border-bottom: 2px solid;
  margin-bottom: 50px;
}
.layMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.navList {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-left: 0;
}
.navBtn {
  text-decoration: none;
  font-size: 18px;
  color: black;
  font-weight: 500;
}
.navBtn:active {
  color: green;
}
