.route-btn {
  font-size: 18px;
  color: white;
  height: 50px;
  width: 80px;
  border-radius: 4px;
  border: none;
  background-color: rgb(0, 0, 0);
  margin: 4px;
  padding: 2px;
}
.route-btn:active {
  border: solid 2px;
}
.route-btn:hover {
  background-color: rgb(52, 50, 46);
  cursor: pointer;
}
.map-modal {
  height: 375px;
  width: auto;
  position: fixed;
  background-color: rgba(127, 255, 212, 0.479);
  z-index: 100;
  top: 0;
  left: 0;
}

.greenText {
  color: green;
  font-weight: 600;
  margin-bottom: 10px;
}
.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: auto;
  border: solid 2px;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 25px;
}
.cardContainer > h4 {
  font-size: 18px;
}
