.route-btn {
  font-size: 16px;
  height: 50px;
  width: 80px;
  border-radius: 4px;
  border: none;
  background-color: rgb(235, 174, 95);
  margin: 4px;
}
.route-btn:active {
  border: solid 2px;
}
.route-btn:hover {
  background-color: rgb(235, 170, 5);
  cursor: pointer;
}
.map-modal {
  height: 400px;
  width: 100%;
  position: fixed;
  background-color: rgba(127, 255, 212, 0.479);
  z-index: 100;
  top: 0;
  left: 0;
}

.greenText {
  color: green;
}
.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: auto;
  border: solid 2px;
  border-radius: 4px;
  padding-bottom: 4px;
  margin-bottom: 25px;
}
